
    .helper-margin-xs {
        margin: $xs !important;
    }

    
    .helper-margin-xs-xs {
        margin: $xs-xs !important;
    }

    
    .helper-margin-sm {
        margin: $sm !important;
    }

    
    .helper-margin-sm-xs {
        margin: $sm-xs !important;
    }

    
    .helper-margin-sm-xs-xs {
        margin: $sm-xs-xs !important;
    }

    
    .helper-margin-md {
        margin: $md !important;
    }

    
    .helper-margin-md-xs {
        margin: $md-xs !important;
    }

    
    .helper-margin-md-xs-xs {
        margin: $md-xs-xs !important;
    }

    
    .helper-margin-md-sm {
        margin: $md-sm !important;
    }

    
    .helper-margin-lg {
        margin: $lg !important;
    }

    
    .helper-margin-lg-sm {
        margin: $lg-sm !important;
    }

    
    .helper-margin-lg-md {
        margin: $lg-md !important;
    }

    
    .helper-margin-xl {
        margin: $xl !important;
    }

    
    .helper-margin-jumbo {
        margin: $jumbo !important;
    }

    
    .helper-margin-v-xs {
        margin-top: $xs !important;
        margin-bottom: $xs !important;
    }

    
    .helper-margin-v-xs-xs {
        margin-top: $xs-xs !important;
        margin-bottom: $xs-xs !important;
    }

    
    .helper-margin-v-sm {
        margin-top: $sm !important;
        margin-bottom: $sm !important;
    }

    
    .helper-margin-v-sm-xs {
        margin-top: $sm-xs !important;
        margin-bottom: $sm-xs !important;
    }

    
    .helper-margin-v-sm-xs-xs {
        margin-top: $sm-xs-xs !important;
        margin-bottom: $sm-xs-xs !important;
    }

    
    .helper-margin-v-md {
        margin-top: $md !important;
        margin-bottom: $md !important;
    }

    
    .helper-margin-v-md-xs {
        margin-top: $md-xs !important;
        margin-bottom: $md-xs !important;
    }

    
    .helper-margin-v-md-xs-xs {
        margin-top: $md-xs-xs !important;
        margin-bottom: $md-xs-xs !important;
    }

    
    .helper-margin-v-md-sm {
        margin-top: $md-sm !important;
        margin-bottom: $md-sm !important;
    }

    
    .helper-margin-v-lg {
        margin-top: $lg !important;
        margin-bottom: $lg !important;
    }

    
    .helper-margin-v-lg-sm {
        margin-top: $lg-sm !important;
        margin-bottom: $lg-sm !important;
    }

    
    .helper-margin-v-lg-md {
        margin-top: $lg-md !important;
        margin-bottom: $lg-md !important;
    }

    
    .helper-margin-v-xl {
        margin-top: $xl !important;
        margin-bottom: $xl !important;
    }

    
    .helper-margin-v-jumbo {
        margin-top: $jumbo !important;
        margin-bottom: $jumbo !important;
    }

    
    .helper-margin-h-xs {
        margin-left: $xs !important;
        margin-right: $xs !important;
    }

    
    .helper-margin-h-xs-xs {
        margin-left: $xs-xs !important;
        margin-right: $xs-xs !important;
    }

    
    .helper-margin-h-sm {
        margin-left: $sm !important;
        margin-right: $sm !important;
    }

    
    .helper-margin-h-sm-xs {
        margin-left: $sm-xs !important;
        margin-right: $sm-xs !important;
    }

    
    .helper-margin-h-sm-xs-xs {
        margin-left: $sm-xs-xs !important;
        margin-right: $sm-xs-xs !important;
    }

    
    .helper-margin-h-md {
        margin-left: $md !important;
        margin-right: $md !important;
    }

    
    .helper-margin-h-md-xs {
        margin-left: $md-xs !important;
        margin-right: $md-xs !important;
    }

    
    .helper-margin-h-md-xs-xs {
        margin-left: $md-xs-xs !important;
        margin-right: $md-xs-xs !important;
    }

    
    .helper-margin-h-md-sm {
        margin-left: $md-sm !important;
        margin-right: $md-sm !important;
    }

    
    .helper-margin-h-lg {
        margin-left: $lg !important;
        margin-right: $lg !important;
    }

    
    .helper-margin-h-lg-sm {
        margin-left: $lg-sm !important;
        margin-right: $lg-sm !important;
    }

    
    .helper-margin-h-lg-md {
        margin-left: $lg-md !important;
        margin-right: $lg-md !important;
    }

    
    .helper-margin-h-xl {
        margin-left: $xl !important;
        margin-right: $xl !important;
    }

    
    .helper-margin-h-jumbo {
        margin-left: $jumbo !important;
        margin-right: $jumbo !important;
    }

    
    .helper-margin-top-xs {
        margin-top: $xs !important;
    }

    
    .helper-margin-top-xs-xs {
        margin-top: $xs-xs !important;
    }

    
    .helper-margin-top-sm {
        margin-top: $sm !important;
    }

    
    .helper-margin-top-sm-xs {
        margin-top: $sm-xs !important;
    }

    
    .helper-margin-top-sm-xs-xs {
        margin-top: $sm-xs-xs !important;
    }

    
    .helper-margin-top-md {
        margin-top: $md !important;
    }

    
    .helper-margin-top-md-xs {
        margin-top: $md-xs !important;
    }

    
    .helper-margin-top-md-xs-xs {
        margin-top: $md-xs-xs !important;
    }

    
    .helper-margin-top-md-sm {
        margin-top: $md-sm !important;
    }

    
    .helper-margin-top-lg {
        margin-top: $lg !important;
    }

    
    .helper-margin-top-lg-sm {
        margin-top: $lg-sm !important;
    }

    
    .helper-margin-top-lg-md {
        margin-top: $lg-md !important;
    }

    
    .helper-margin-top-xl {
        margin-top: $xl !important;
    }

    
    .helper-margin-top-jumbo {
        margin-top: $jumbo !important;
    }

    
    .helper-margin-bottom-xs {
        margin-bottom: $xs !important;
    }

    
    .helper-margin-bottom-xs-xs {
        margin-bottom: $xs-xs !important;
    }

    
    .helper-margin-bottom-sm {
        margin-bottom: $sm !important;
    }

    
    .helper-margin-bottom-sm-xs {
        margin-bottom: $sm-xs !important;
    }

    
    .helper-margin-bottom-sm-xs-xs {
        margin-bottom: $sm-xs-xs !important;
    }

    
    .helper-margin-bottom-md {
        margin-bottom: $md !important;
    }

    
    .helper-margin-bottom-md-xs {
        margin-bottom: $md-xs !important;
    }

    
    .helper-margin-bottom-md-xs-xs {
        margin-bottom: $md-xs-xs !important;
    }

    
    .helper-margin-bottom-md-sm {
        margin-bottom: $md-sm !important;
    }

    
    .helper-margin-bottom-lg {
        margin-bottom: $lg !important;
    }

    
    .helper-margin-bottom-lg-sm {
        margin-bottom: $lg-sm !important;
    }

    
    .helper-margin-bottom-lg-md {
        margin-bottom: $lg-md !important;
    }

    
    .helper-margin-bottom-xl {
        margin-bottom: $xl !important;
    }

    
    .helper-margin-bottom-jumbo {
        margin-bottom: $jumbo !important;
    }

    
    .helper-margin-left-xs {
        margin-left: $xs !important;
    }

    
    .helper-margin-left-xs-xs {
        margin-left: $xs-xs !important;
    }

    
    .helper-margin-left-sm {
        margin-left: $sm !important;
    }

    
    .helper-margin-left-sm-xs {
        margin-left: $sm-xs !important;
    }

    
    .helper-margin-left-sm-xs-xs {
        margin-left: $sm-xs-xs !important;
    }

    
    .helper-margin-left-md {
        margin-left: $md !important;
    }

    
    .helper-margin-left-md-xs {
        margin-left: $md-xs !important;
    }

    
    .helper-margin-left-md-xs-xs {
        margin-left: $md-xs-xs !important;
    }

    
    .helper-margin-left-md-sm {
        margin-left: $md-sm !important;
    }

    
    .helper-margin-left-lg {
        margin-left: $lg !important;
    }

    
    .helper-margin-left-lg-sm {
        margin-left: $lg-sm !important;
    }

    
    .helper-margin-left-lg-md {
        margin-left: $lg-md !important;
    }

    
    .helper-margin-left-xl {
        margin-left: $xl !important;
    }

    
    .helper-margin-left-jumbo {
        margin-left: $jumbo !important;
    }

    
    .helper-margin-right-xs {
        margin-right: $xs !important;
    }

    
    .helper-margin-right-xs-xs {
        margin-right: $xs-xs !important;
    }

    
    .helper-margin-right-sm {
        margin-right: $sm !important;
    }

    
    .helper-margin-right-sm-xs {
        margin-right: $sm-xs !important;
    }

    
    .helper-margin-right-sm-xs-xs {
        margin-right: $sm-xs-xs !important;
    }

    
    .helper-margin-right-md {
        margin-right: $md !important;
    }

    
    .helper-margin-right-md-xs {
        margin-right: $md-xs !important;
    }

    
    .helper-margin-right-md-xs-xs {
        margin-right: $md-xs-xs !important;
    }

    
    .helper-margin-right-md-sm {
        margin-right: $md-sm !important;
    }

    
    .helper-margin-right-lg {
        margin-right: $lg !important;
    }

    
    .helper-margin-right-lg-sm {
        margin-right: $lg-sm !important;
    }

    
    .helper-margin-right-lg-md {
        margin-right: $lg-md !important;
    }

    
    .helper-margin-right-xl {
        margin-right: $xl !important;
    }

    
    .helper-margin-right-jumbo {
        margin-right: $jumbo !important;
    }

    
    .helper-spacer-h-xs {
        margin-right: $xs !important;
        margin-left: $xs !important;
        display: block;
    }

    
    .helper-spacer-h-xs-xs {
        margin-right: $xs-xs !important;
        margin-left: $xs-xs !important;
        display: block;
    }

    
    .helper-spacer-h-sm {
        margin-right: $sm !important;
        margin-left: $sm !important;
        display: block;
    }

    
    .helper-spacer-h-sm-xs {
        margin-right: $sm-xs !important;
        margin-left: $sm-xs !important;
        display: block;
    }

    
    .helper-spacer-h-sm-xs-xs {
        margin-right: $sm-xs-xs !important;
        margin-left: $sm-xs-xs !important;
        display: block;
    }

    
    .helper-spacer-h-md {
        margin-right: $md !important;
        margin-left: $md !important;
        display: block;
    }

    
    .helper-spacer-h-md-xs {
        margin-right: $md-xs !important;
        margin-left: $md-xs !important;
        display: block;
    }

    
    .helper-spacer-h-md-xs-xs {
        margin-right: $md-xs-xs !important;
        margin-left: $md-xs-xs !important;
        display: block;
    }

    
    .helper-spacer-h-md-sm {
        margin-right: $md-sm !important;
        margin-left: $md-sm !important;
        display: block;
    }

    
    .helper-spacer-h-lg {
        margin-right: $lg !important;
        margin-left: $lg !important;
        display: block;
    }

    
    .helper-spacer-h-lg-sm {
        margin-right: $lg-sm !important;
        margin-left: $lg-sm !important;
        display: block;
    }

    
    .helper-spacer-h-lg-md {
        margin-right: $lg-md !important;
        margin-left: $lg-md !important;
        display: block;
    }

    
    .helper-spacer-h-xl {
        margin-right: $xl !important;
        margin-left: $xl !important;
        display: block;
    }

    
    .helper-spacer-h-jumbo {
        margin-right: $jumbo !important;
        margin-left: $jumbo !important;
        display: block;
    }

    
    .helper-spacer-v-xs {
        margin-top: $xs !important;
        margin-bottom: $xs !important;
        display: block;
    }

    
    .helper-spacer-v-xs-xs {
        margin-top: $xs-xs !important;
        margin-bottom: $xs-xs !important;
        display: block;
    }

    
    .helper-spacer-v-sm {
        margin-top: $sm !important;
        margin-bottom: $sm !important;
        display: block;
    }

    
    .helper-spacer-v-sm-xs {
        margin-top: $sm-xs !important;
        margin-bottom: $sm-xs !important;
        display: block;
    }

    
    .helper-spacer-v-sm-xs-xs {
        margin-top: $sm-xs-xs !important;
        margin-bottom: $sm-xs-xs !important;
        display: block;
    }

    
    .helper-spacer-v-md {
        margin-top: $md !important;
        margin-bottom: $md !important;
        display: block;
    }

    
    .helper-spacer-v-md-xs {
        margin-top: $md-xs !important;
        margin-bottom: $md-xs !important;
        display: block;
    }

    
    .helper-spacer-v-md-xs-xs {
        margin-top: $md-xs-xs !important;
        margin-bottom: $md-xs-xs !important;
        display: block;
    }

    
    .helper-spacer-v-md-sm {
        margin-top: $md-sm !important;
        margin-bottom: $md-sm !important;
        display: block;
    }

    
    .helper-spacer-v-lg {
        margin-top: $lg !important;
        margin-bottom: $lg !important;
        display: block;
    }

    
    .helper-spacer-v-lg-sm {
        margin-top: $lg-sm !important;
        margin-bottom: $lg-sm !important;
        display: block;
    }

    
    .helper-spacer-v-lg-md {
        margin-top: $lg-md !important;
        margin-bottom: $lg-md !important;
        display: block;
    }

    
    .helper-spacer-v-xl {
        margin-top: $xl !important;
        margin-bottom: $xl !important;
        display: block;
    }

    
    .helper-spacer-v-jumbo {
        margin-top: $jumbo !important;
        margin-bottom: $jumbo !important;
        display: block;
    }

    
    .helper-padding-xs {
        padding: $xs !important;
    }

    
    .helper-padding-xs-xs {
        padding: $xs-xs !important;
    }

    
    .helper-padding-sm {
        padding: $sm !important;
    }

    
    .helper-padding-sm-xs {
        padding: $sm-xs !important;
    }

    
    .helper-padding-sm-xs-xs {
        padding: $sm-xs-xs !important;
    }

    
    .helper-padding-md {
        padding: $md !important;
    }

    
    .helper-padding-md-xs {
        padding: $md-xs !important;
    }

    
    .helper-padding-md-xs-xs {
        padding: $md-xs-xs !important;
    }

    
    .helper-padding-md-sm {
        padding: $md-sm !important;
    }

    
    .helper-padding-lg {
        padding: $lg !important;
    }

    
    .helper-padding-lg-sm {
        padding: $lg-sm !important;
    }

    
    .helper-padding-lg-md {
        padding: $lg-md !important;
    }

    
    .helper-padding-xl {
        padding: $xl !important;
    }

    
    .helper-padding-jumbo {
        padding: $jumbo !important;
    }

    
    .helper-padding-v-xs {
        padding-top: $xs !important;
        padding-bottom: $xs !important;
    }

    
    .helper-padding-v-xs-xs {
        padding-top: $xs-xs !important;
        padding-bottom: $xs-xs !important;
    }

    
    .helper-padding-v-sm {
        padding-top: $sm !important;
        padding-bottom: $sm !important;
    }

    
    .helper-padding-v-sm-xs {
        padding-top: $sm-xs !important;
        padding-bottom: $sm-xs !important;
    }

    
    .helper-padding-v-sm-xs-xs {
        padding-top: $sm-xs-xs !important;
        padding-bottom: $sm-xs-xs !important;
    }

    
    .helper-padding-v-md {
        padding-top: $md !important;
        padding-bottom: $md !important;
    }

    
    .helper-padding-v-md-xs {
        padding-top: $md-xs !important;
        padding-bottom: $md-xs !important;
    }

    
    .helper-padding-v-md-xs-xs {
        padding-top: $md-xs-xs !important;
        padding-bottom: $md-xs-xs !important;
    }

    
    .helper-padding-v-md-sm {
        padding-top: $md-sm !important;
        padding-bottom: $md-sm !important;
    }

    
    .helper-padding-v-lg {
        padding-top: $lg !important;
        padding-bottom: $lg !important;
    }

    
    .helper-padding-v-lg-sm {
        padding-top: $lg-sm !important;
        padding-bottom: $lg-sm !important;
    }

    
    .helper-padding-v-lg-md {
        padding-top: $lg-md !important;
        padding-bottom: $lg-md !important;
    }

    
    .helper-padding-v-xl {
        padding-top: $xl !important;
        padding-bottom: $xl !important;
    }

    
    .helper-padding-v-jumbo {
        padding-top: $jumbo !important;
        padding-bottom: $jumbo !important;
    }

    
    .helper-padding-h-xs {
        padding-left: $xs !important;
        padding-right: $xs !important;
    }

    
    .helper-padding-h-xs-xs {
        padding-left: $xs-xs !important;
        padding-right: $xs-xs !important;
    }

    
    .helper-padding-h-sm {
        padding-left: $sm !important;
        padding-right: $sm !important;
    }

    
    .helper-padding-h-sm-xs {
        padding-left: $sm-xs !important;
        padding-right: $sm-xs !important;
    }

    
    .helper-padding-h-sm-xs-xs {
        padding-left: $sm-xs-xs !important;
        padding-right: $sm-xs-xs !important;
    }

    
.hand {
    cursor: pointer !import;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
}
.helper-no-padding {
    padding: 0 !import;
}
.helper-no-margin {
    margin: 0 !import;
}
.helper-no-padding-left {
    padding-left: 0 !important;
}
.helper-no-padding-right {
    padding-right: 0 !important;
}
.helper-no-padding-top {
    padding-top: 0 !important;
}
.helper-no-padding-bottom {
    padding-bottom: 0 !important;
}
.helper-no-margin-left {
    margin-left: 0 !important;
}
.helper-no-margin-right {
    margin-right: 0 !important;
}
.helper-no-margin-top {
    margin-top: 0 !important;
}
.helper-no-margin-bottom {
    margin-bottom: 0 !important;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
}
